
{% extends '_partials/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/styleusuarios.css' %}">
    <div class="page">
        {% for menssage in messages %}
        <div class="alert alert-primary" role="alert">
            <p id="messages">{{menssage}}</p>
        </div>
        {% endfor %}
        <form action="{% url 'cadastro' %}" method="POST" class="formLogin"> 
            {% csrf_token %}
            <div>
                <h1>Cadastro</h1>
                <p>Digite os seus dados de acesso no campo abaixo.</p>
                {% for field in form.visible_fields %}
                    <div>
                        <label class="input" for="{{ field.id_for_label }}">{{field.label}}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div>
                    <button type="submit" class="btn">Cadastrar</button>
                </div>
            </div>           
        </form>
    </div>
{% endblock %}
