{% extends '_partials/base.html' %}
{% load static %}

{% block content %}
{% include '_partials/menu.html' %}

<div class="container">
    <input type="submit" value="Abrir Caixa" class="btn btn-success">

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">ORIGEM</th>
            <th scope="col">ID IFOOD</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">DINHEIRO</th>
            <th scope="col">CREDITO</th>
            <th scope="col">DEBITO</th>
            <th scope="col">PIX</th>
            <th scope="col">EDITAR</th>
        </tr>
        </thead>
    <tbody>
</div>
{% endblock %}