{% extends '_partials/base.html' %}
{% load static %}

{% block content %}
{% include '_partials/menu.html' %}

<div class="container-fluid">
    {% for menssage in messages %}
<div class="alert alert-info" role="alert">
    <p id="messages">{{menssage}}</p>
</div>
    {% endfor %}


<div class="container-fluid">
    <div class="row" >
        <div class="container-fluid col-sm" >
            <a href="{% url 'novo_pedido' %}" class="btn btn-outline-success" role="button" aria-pressed="true" >Novo Pedido</a>
            <a href="#" class="btn btn-outline-danger" role="button" aria-pressed="true" >Nova Despesa</a>
        </div>
        <a href="{% url 'novocaixa' %}" class="text-center btn btn-success" role="button" aria-pressed="true" >Novo Caixa</a>
        <a href="{% url 'fecharcaixa' %}" class="btn btn-danger" role="button" aria-pressed="true" >Fechar Caixa</a>
    </div>
</div>


<div class="container-fluid text-center">
   <table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">ORIGEM</th>
        <th scope="col">ID_IFOOD</th>
        <th scope="col">NOME DO CLIENTE</th>
        <th scope="col">DINHEIRO</th>
        <th scope="col">CREDITO</th>
        <th scope="col">DEBITO</th>
        <th scope="col">PIX</th>
        <th scope="col">MOTOBOY</th>
        <th scope="col">EDITAR</th>
    </tr>
    </thead>
    {% for novo_pedido in pedido %}
    <thead class="thead-white">
    <tr>
        <th scope="col">{{ novo_pedido.id }}</th>
        <th scope="col">{{ novo_pedido.origempedido }}</th>
        {% if novo_pedido.id_ifood is None %}
        <th scope="col">------</th>  
        {% else %}   
        <th scope="col">{{ novo_pedido.id_ifood }}</th>
        {% endif %}
        <th scope="col">{{ novo_pedido.cliente }}</th>

        {% if novo_pedido.dinheiro is None %}
        <th scope="col">R$: 0,00</th>  
        {% else %}   
        <th scope="col">R$: {{ novo_pedido.dinheiro }}</th>
        {% endif %}
        {% if novo_pedido.cartao_credito is None %}
        <th scope="col">R$: 0,00</th>  
        {% else %}   
        <th scope="col">R$: {{ novo_pedido.cartao_credito }}</th>
        {% endif %}
        {% if novo_pedido.cartao_debito is None %}
        <th scope="col">R$: 0,00</th>  
        {% else %}   
        <th scope="col">R$: {{ novo_pedido.cartao_debito }}</th>
        {% endif %}
        {% if novo_pedido.pix is None %}
        <th scope="col">R$: 0,00</th>  
        {% else %}   
        <th scope="col">R$: {{ novo_pedido.pix }}</th>
        {% endif %}
        <th scope="col"></th>
        <th scope="col">
            <button href="#" class="btn btn-primary btn-sm"><a>Editar</a></button>
            <button href="#" class="btn btn-secondaty btn-sm"><a>Excluir</a></button>
        </th>
    </tr>
    {% endfor %}
    </thead>
</div> 
{% endblock %}