{% extends '_partials/base.html' %}
{% load static %}

{% block content %}
{% include '_partials/menu.html' %}


<header class='container'>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                PEDIDOS DO IFOOD
            </div>
            <div class="col-md-auto">
                PEDIDOS DO BALCAO
            </div>
            <div class="col-md-auto">
                PEDIDOS DO WHATSSAP
            </div>
            <div class="col-md-auto">
                PEDIDOS DO TELEFONE
            </div>
        </div>
    </div>
</header>



<div class="container-fluid">
    {% for menssage in messages %}
<div class="alert alert-info" role="alert">
    <p id="messages">{{menssage}}</p>
</div>
    {% endfor %}


<div class="container-fluid">
    <div class="row" >
        <div class="container-fluid col-sm" >
            <a href="{% url 'novo_pedido' %}" class="btn btn-outline-success" role="button" aria-pressed="true" >Novo Pedido</a>
            <a href="{% url 'despesas' %}" class="btn btn-outline-danger" role="button" aria-pressed="true" >Nova Despesa</a>
        </div>
        <a href="{% url 'novocaixa' %}" class="text-center btn btn-success" role="button" aria-pressed="true" >Novo Caixa</a>
        <a href="{% url 'fecharcaixa' %}" class="btn btn-danger" role="button" aria-pressed="true" >Fechar Caixa</a>
    </div>
</div>


<div class="container-fluid text-center">

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">ORIGEM</th>
            <th scope="col">ID_IFOOD</th>
            <th scope="col">NOME DO CLIENTE</th>
            <th scope="col">DINHEIRO</th>
            <th scope="col">CREDITO</th>
            <th scope="col">DEBITO</th>
            <th scope="col">PIX</th>
            <th scope="col">MOTOBOY</th>
            <th scope="col">EDITAR</th>
        </tr> 
        </thead>


    {% for Pedido in pedido %}
        <thead class="thead-white">
        <tr>
            <th scope="col">{{ Pedido.id }}</th>
            <th scope="col">{{ Pedido.origempedido }}</th>
            {% if pedido.id_ifood is None %}
            <th scope="col">------</th>  
            {% else %}   
            <th scope="col">{{ Pedido.id_ifood }}</th>
            {% endif %}
            <th scope="col">{{ Pedido.cliente }}</th>

            {% if Pedido.dinheiro is None %}
            <th scope="col">R$: 0,00</th>  
            {% else %}   
            <th scope="col">R$: {{ Pedido.dinheiro }}</th>
            {% endif %}
            {% if Pedido.cartao_credito is None %}
            <th scope="col">R$: 0,00</th>  
            {% else %}   
            <th scope="col">R$: {{ Pedido.cartao_credito }}</th>
            {% endif %}
            {% if Pedido.cartao_debito is None %}
            <th scope="col">R$: 0,00</th>  
            {% else %}   
            <th scope="col">R$: {{ Pedido.cartao_debito }}</th>
            {% endif %}
            {% if Pedido.pix is None %}
            <th scope="col">R$: 0,00</th>  
            {% else %}   
            <th scope="col">R$: {{ Pedido.pix }}</th>
            {% endif %}
            <th scope="col"></th>
            <th scope="col">
                <a href="{% url 'editarpedido' Pedido.id %}" ><button class="btn btn-primary btn-sm">Editar</button></a>
                <a href="{% url 'deletarpedido' Pedido.id %}" ><button class="btn btn-secondaty btn-sm">Deletar</button></a>
            </th>
        </tr>
        </thead>
    {% endfor %}



        <tread>
        <tr thead class="thead-dark">
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">TIPO DE DESPESAS</th>
            <th scope="col"></th>
            <th scope="col">DINHEIRO</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">PIX</th>
            <th scope="col">FORNECEDOR / MOTOBOY</th>
            <th scope="col"></th>
        </tr>
        </tread>



    {% for Despesa in despesa %}
        <thead class="thead-white">
        <tr class="table-danger">
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">{{ Despesa.tipo_despesa }}</th>
            <th scope="col"></th>
            {% if Despesa.valor_dinheiro is None %}
            <th scope="col">R$: 0,00</th>  
            {% else %}   
            <th scope="col">R$: {{ Despesa.valor_dinheiro }}</th>
            {% endif %}
            <th scope="col"></th>
            <th scope="col"></th>
            {% if Despesa.valor_pix is None %}
            <th scope="col">R$: 0,00</th>  
            {% else %}   
            <th scope="col">R$: {{ Despesa.valor_pix }}</th>
            {% endif %}
            <th scope="col">{{ Despesa.nome_motoboy }}</th>
            <th scope="col">
                <a href="{% url 'editar_despesas' Despesa.id %}" ><button class="btn btn-primary btn-sm">Editar</button></a>
                <a href="{% url 'deletadespesa' Despesa.id %}" ><button class="btn btn-secondaty btn-sm">Deletar</button></a>
            </th>
        </tr> 
        </thead>
    {% endfor %}


        <thead class="thead-dark">
            <tr>
                <th scope="col">----</th>
                <th scope="col">----</th>
                <th scope="col">----</th>
                <th scope="col">----</th>
                <th scope="col">R$: {{ soma_valores.soma_dinheiro }}</th>
                <th scope="col">R$: {{ soma_valores.soma_cartao_credito }}</th>
                <th scope="col">R$: {{ soma_valores.soma_cartao_debito}}</th>
                <th scope="col">R$: {{ soma_valores.pix }}</th>
                <th scope="col">----</th>
                <th scope="col">----</th>
            </tr>
        </thead>



</div> 
{% endblock %}